#Escudo{
    width: 65px;
    height: 65px;
}
#navbar{
    background-color: red;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}